[Unit]
Description=Daily Community Repository Keys Refresh

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
