[Unit]
Description=Refresh Community Repository Keys
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-key --recv-keys AECEEE84E52BBFAA9F1C9DF01EA0CEEEB09B44A3
ExecStart=/usr/bin/pacman-key --lsign-key AECEEE84E52BBFAA9F1C9DF01EA0CEEEB09B44A3
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
